*{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blueviolet;
    color: aliceblue;
    height: 20px;
    font-size: 20px;
    list-style: none;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}