.one {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 1s;
}
.one:hover{
  width: 150px;
}

.two {
  width: 100px;
  height: 100px;
  background: blue;
  transition: height 1s;
  transition-delay: 1s;
}
.two:hover{
  width: 200px;
}
/* HINT */
/* #main:hover .one {
  width: 300px;
}

#main:hover .two {
  width: 300px;
} */
